# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Models
models/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
build/

# Logs
*.log
npm-debug.log*
